<mat-toolbar color="primary">
  <span>
    E-Commerce Application
  </span>

  <span class="space-buttons">

  </span>
  <button mat-raised-button color="primary" *ngIf="!isUserLoggedIn()" routerLink="/login">
    Login
  </button>

  <button mat-raised-button color="warn" *ngIf="isUserLoggedIn()" (click)="logout()">
    Logout
  </button>

</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isUserLoggedIn()">

  <button mat-raised-button color="primary" routerLink="/">Home</button>


  <button *ngIf="isAdmin()" mat-raised-button color="primary" [routerLink]="['/addProduct']" [queryParams]="{ t: timestamp }" (click)="onAddProductClick()">Add Product</button>


  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/showProductDetails">View Product
    Details</button>

</mat-toolbar>