<div class="container mt-5">
    <div class="card p-3">
        <div class="row">
            <div class="col-md-6">
                <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full Name" [(ngModel)]="orderDetails.fullName" name="fullName" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" [(ngModel)]="orderDetails.email" name="email" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Phone" [(ngModel)]="orderDetails.contactNumber"
                            name="contactNumber" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Alternate Phone</mat-label>
                        <input matInput placeholder="Alternate Phone"
                            [(ngModel)]="orderDetails.alternativeContactNumber" name="alternativeContactNumber" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Address" [(ngModel)]="orderDetails.fullAddress"
                            name="fullAddress" />
                    </mat-form-field>

                    <div class="text-center mt-3" [align]="'center'">
                        <button mat-raised-button color="primary" class="btn btn-primary" type="submit">Place
                            Order</button>
                        <button mat-raised-button color="warn" class="btn btn-warn" type="button"
                            (click)="onReset()">Reset</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr *ngFor="let item of productDetails">

                                <td>{{item.productName}}</td>
                                <td>{{item.productDiscountedPrice}}</td>
                                <td>
                                    <select #quantitySelect class="form-select"
                                        [ngModel]="getQuantityForProduct(item.productId || 1)" name="quantity"
                                        (change)="onQuantityChange(item.productId || 1, quantitySelect.value)">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </td>

                                <td>
                                    {{getTotalAmountForProduct(item.productId || 1, item.productDiscountedPrice)}}
                                </td>

                            </tr>

                            <tr>
                                <td colspan="3">Total Amount</td>
                                <td>
                                    {{getTotalAmountForAllProducts()}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>